<h1>Shopping List</h1>
<ul>
  <% @items.each do |ingredient| %>
    <li><%= ingredient.name %>, <%= ingredient.quantity %>, <%= link_to 'Delete', destroy_user_item_path(ingredient) %></li>
  <% end %>
</ul>
